.user_logo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.user_name {
  text-align: center;
  margin: auto;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tasks > h3 {
  border: 2px solid lightblue;
  margin: 0.5rem;
  width: 140px;
}

