*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
.App {
  text-align: center;
}

.mainGrid{
  display: flex;
  flex-direction: row;
}
.user-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  min-width: 30%;
  /* background-color: lightblue; */
  text-align: center;
}
.user-task-table{
  padding: 1rem;
  height: 100vh;
  min-width: 70%;
  background-color: lightgray;
}